:root{
    --primary-color: #14AFB6;
    --light-color: white;
    --whitesmoke: #e0e0e0;
    --dark-color: #111111;
    --primary-color-border: 1px solid var(--primary-color);
    --logo-linear-gradient: linear-gradient(to right, #14AFB6, #228DB2, #B02B87);
    --bg-linear-gradient: linear-gradient(to right,#0cebeb, #20e3b2, #29ffc6);
}